<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Building Permits</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/leaflet-heat.js"></script>
    <script type="text/javascript" src="js/plugins/SliderControl.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
<body>
<div id="map"></div>
<script type="text/javascript" src="../static/js/config.js"></script>
<!-- <script type="text/javascript" src="../static/js/  INSERT FILENAME HERE    .js></script> -->
</body>
</html>


