<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Building in Chicago</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
<body>
    <div class="container">

        <div class="jumbotron">
          <h1>TIF, Construction, and Population Migrations in Chicago</h1>
        </div>
        <div class="container-fluid">
            <div class="project-summary">
                <div class="col-md-6">
                    <p>  
                        This project aims to geographically show the relationships between Tax Increment Financing (TIF), construction (new, renovations, and demolitions), and population migrations in the city of Chicago.  It has been long held that gentrification displaces racial enclaves and low-income communities. Furthermore, many beleive that the disbursement of TIF exacerbates gentrification on or near TIF funded projects.  These maps aim to show whether these shifts are present and if so what they look like.  The project utilizes data from the City of Chicago Data Portal and the American Communtiy Survey (ACS).
                    </p>
                </div> 
            </div>
            <div class="fig">
                <div class="col-md-6">
                    <!-- INSERT IFRAME FOR MAP 1 -->
                </div>
            </div>
            <div class="fig">
                <div class="col-md-6">
                    <!-- INSERT IFRAME FOR MAP 2 -->
                </div>
            </div>
            <div class="fig">
                <div class="col-md-6">
                    <!-- INSERT IFRAME FOR MAP 3 -->
                </div>
            </div>
            <div class="fig">
                <div class="col-md-6">
                    <!-- INSERT IFRAME FOR MAP 4 -->
                </div>
            </div>
            <div class="fig">
                <div class="col-md-6">
                    <!-- INSERT IFRAME FOR MAP 5 -->
                </div>
            </div>
        </div>

        <!-- SCRIPT TAGS FOR JS FILES IF NEEDED -->
</body>
</html>