.jumbotron {
    background-image: url("../images/jumbotron_img.jpeg");
    background-color: #17234E;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-right: 0;
    padding-top: 0;
    font-size: 55px;
}



body {
    padding: 0px;
    margin: 0px;
  }

  p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
  }

  #map,
  body,
  html {
    height: 100%;
  }

  #permitMap {
    float: left;
    height: 500px;
    width: 500px;
  }
  #demoMap {
    float: left;
    height: 500px;
    width: 500px;
    margin-left: 100px;
  }
  .legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
  }
  
  .legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  
  .legend .min {
    float: left;
    padding-bottom: 5px;
  }
  
  .legend .max {
    float: right;
  }
  
  h1 {
    text-align: right;
    margin-right: 0px;
    margin-left: 300px;
    height: 50%;
  }
  #slider-timestamp {
  z-index: 1000 !important;
  }
  .ui-slider-handle {
    height: 10px !important;
  }
  .leaflet-control-messagebox {
    display: none; /* Initially hidden */
    border: 2px solid rgba(15, 18, 182, 0.616);
    background-color: white;
    padding: 3px 10px;
  }